.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
  font-size: 1.8rem;

  label {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
  }

  input {
    font-size: 1.4rem;
    width: 10rem;
  }
}