.timer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
  border-radius: var(--border-radius);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background: none;
  gap: 0.5rem;

  button {
    i {
      font-size: 3rem;
    }
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  width: 100%;

  h3 {
    font-size: 1.3rem;
  }

  button {
    position: absolute;
    right: 0.6rem;
    padding: 0.2em;

    i {
      background-color: #fff;
      padding: .1em;
      font-size: 1rem;
      background-color: #e5383b;;
      border-radius: 50%;
    }
  }
}

.time {
  padding: 0.5rem;
  span {
    font-size: 2rem;
  }
}
